.section1 {
    background-color: #effff8;
    padding-top: 6em;
    padding-bottom: 5rem;
}
.section1 a {
    margin-top: 2em;
}
.section1 img {
    width: 100%;
    border-radius: 5px;
    margin-top: 4em;
}

